
/****** Fonts Used ******/
/* font-family: 'Poor Story', cursive; */
/* font-family: 'Permanent Marker', cursive; */


/****** Color Schemes ******/
:root {
  --color-01: #6B8D99;
  --color-02: #FFDC9C;
  --color-03: #FFB95A;
  --color-04: #C33C45;
  --color-05: #D8E9C2;
}

/****** Total Page Sections ******/
body {
  background: var(--color-05);
  width: 100%;
  font-family: 'Poor Story', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  /* background: var(--color-02); */
  width: 90%;
  margin: auto;
}

/****** Nav Bar Section ******/
nav, footer {
  background: var(--color-04);
  color: white;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  box-sizing: border-box;

  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.siteTitle {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 5px;
  margin: 20px 0;
  /* font-size: 2em; */
}

nav h5 {
  font-size: 1.5em;
  letter-spacing: 3px;
  margin: 20px 0;
}

/****** Footer Section ******/


/****** Main Content Section ******/

.content {
  background: var(--color-02);
  color: var(--color-01);
  width: 100%;
  min-height: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-sizing: border-box;
}

/****** Register & Login Section ******/
.login h1{
  text-align: center;
  letter-spacing: 3px;
}

form {
  width: 90%;
  margin: auto;
  /* padding-left: 100px; */
}

.flexWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

label {
  display: block;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin: 10px 0 3px 0;
}

.labelWrapper input {
  width: 300px;
  padding: 5px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;

}

.submitButton, .cancelButton {
  letter-spacing: 2px;
  font-size: 1em;
  margin: 20px 5px 20px;
  border-radius: 5px;
}

.submitButton {
  /* Color Options */
}

.cancelButton {
  /* Color Options */
}

/****** User Page Section ******/
.userPageName {
  text-align: center;
}

.userPageAvatar {
  width: 300px;
  height: 300px;
  display: flex;
  margin: auto;
}

.editUserText {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1em;
}

.editUserSelector {
  text-decoration: underline;
}

.editUserSelector:hover {
  color: var(--color-04);
  cursor: pointer;
}

/****** New Post & Edit Post Section ******/
textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.flexWrapper2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/****** Post List Page ******/
.siteListFlex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.siteListWrapper {
  width: 250px;
  height: 250px;
  border: 2px solid var(--color-01);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: var(--color-01);
}

.siteListPreview {
  width: 150px;
  height: 150px;
  margin: auto;
}

.postListPara {
  text-align: center;
  letter-spacing: 3px;
}

.postListPara p {
  font-size: 1.2em;
}

/****** Post Show Section ******/
.postShowFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.postShowLeft, .postShowRight {
  width: 40%;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid black; */
}

.postShowLeft img {
  max-width: 300px;
  max-height: 400px;
  margin: auto;
}

.postShowRight {
  letter-spacing: 3px;
}

.postShowRight a {
  color: var(--color-01);
}

.postShowRight a:hover {
  color: white;
}

.buttonBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.colorButton {
  margin: 20px 5px;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 1.1em;
  border: 1px solid var(--color-01);
  border-radius: 10px;
  background: var(--color-03);
  color: var(--color-01);
}

.colorButton:hover {
  background: var(--color-01);
  color: var(--color-03);
}
