/* Color 1: FDF5CC
Color 2: 23A494
Color 3: 2B6D69
Color 4: F08413
Color 5: B53046 */
/*
Color 1: 26A459
Color 2: 267090
Color 3: E49135
Color 4: E45635
 */

/* div {
  background: #26A459;
}

h1 {
  color: #267090;
}

h2 {
  color: #E49135;
}

h3 {
  color: #E45635;
}

h4 {
  color: #E45635;
} */
