<div class="aboutSelection">
  <h1>About CSS2GO</h1>
  <p>Created by John Kusching</p>
  <p>CSS2GO was created to help me practice my CSS and styling skills.  Basically, this is my home for all my mini webistes that I create to practice and hone my skills, but I shouldn't be the only one who benifits.  Future versions of CSS2GO will allow users to submit their attempts to recreate the mockup to the website.</p>

  <p>Current version has admins and users.  Currently normal users can only register and update their profile.  Admins have the ability to post new mockups as well as edit and delete existing ones.</p>

  <p>Links - </p>
  <ul>
    <li><a href="http://kusching.com/#home">Portfolio</a></li>
    <li><a href="https://www.linkedin.com/in/kusching/">LinkedIn</a></li>
    <li><a href="https://github.com/johnzxcvbnm">GitHub</a></li>
    <li><a href="https://github.com/johnzxcvbnm/Pickle-Rick/blob/master/README.md">ReadMe</a></li>
  </ul>
</div>
