<div class="aboutSelection">
  <h1>About CSS2GO</h1>
  <p>Created by John Kusching</p>
  <p>CSS2GO was created to help me practice my CSS and styling skills.  Basically, this is my home for all my mini webistes that I create to practice and hone my skills.  This site was built using the MEAN stack (Mongoose, EJS, AngularJS, Node), but you can see the full technical details in the sites README file, linked down below.</p>

  <p>Current features allow regular users to create an account and comment on posts.  Users can also edit their user information and edit/delete their posted comments.  Admin users can create, edit and delete posts as well as edit/delete all comments.  Posts show a preview of the mock up, a link to the live mock up as well as a link out to the mock up readme with the full details of how to complete the mock up.</p>

  <p>Links - </p>
  <ul>
    <li><a href="http://kusching.com/#home" target="_blank">Portfolio</a></li>
    <li><a href="https://www.linkedin.com/in/kusching/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/johnzxcvbnm" target="_blank">GitHub</a></li>
    <li><a href="https://github.com/johnzxcvbnm/Pickle-Rick/blob/master/README.md" target="_blank">ReadMe</a></li>
  </ul>
</div>
