<div class="login">
  <div>
    <h1 class="userPageName">{{ctrl.user.username}}</h1>
    <img src="{{ctrl.user.avatar}}" alt="{{ctrl.user.username}}" title="{{ctrl.user.username}}" class="userPageAvatar"/>
  </div>
  <h1>Edit User</h1>
  <p class="editUserText"><i>Note</i>: Editing requires logging back in</p>
  <form ng-submit="ctrl.editUser()">
    <div class="flexWrapper">
      <div class="labelWrapper">
        <label for="username">Username</label>
        <input type="text" ng-model="ctrl.editUsername" required="true"/>
      </div>
      <div class="labelWrapper">
        <label for="avatar">Avatar</label>
        <input type="text" ng-model="ctrl.editAvatar" />
      </div>
    </div>
    <div class="buttonWrapper">
      <input type="submit" value="Edit User" class="colorButton">
      <button ng-click="ctrl.cancelCreateUser()" class="colorButton">Cancel</button>
    </div>
  </form>
</div>
