<div class="login">
  <h1>Register</h1>
  <form ng-submit="ctrl.createUser()">
    <div class="flexWrapper2">
      <div class="labelWrapper">
        <label for="title">Title</label>
        <input type="text" ng-model="ctrl.postTitle" required="true"/>
      </div>
      <div class="labelWrapper">
        <label for="address">URL</label>
        <input type="text" ng-model="ctrl.postAddress" required="true"/>
      </div>
      <div class="labelWrapper">
        <label for="image">Image</label>
        <input type="text" ng-model="ctrl.postImage" />
      </div>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea name="description"></textarea>
    </div>
    <div class="buttonWrapper">
      <input type="submit" value="Create User" class="submitButton">
      <button ng-click="ctrl.cancelCreatePost()" class="cancelButton">Cancel</button>
    </div>
  </form>
</div>
