<div class="login">
  <h1>Register</h1>
  <form ng-submit="ctrl.createUser()">
    <div>
      <label for="username">Username</label>
      <input type="text" ng-model="ctrl.regUsername" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" ng-model="ctrl.regPassword" />
    </div>
    <div>
      <label for="avatar">Avatar</label>
      <input type="text" ng-model="ctrl.regAvatar" />
    </div>
    <div>
      <input type="submit" value="Create User">
      <button ng-click="ctrl.cancelCreateUser()">Cancel</button>
    </div>
  </form>
</div>
